#culture-modal {
  .modal-content {
    margin: 2% auto;
  }
}
@media (max-width: 768px) {
  #culture-modal {
    .modal-content {
      margin: 20% auto;
    }
  }
}
@media (max-width: 576px) {
  #culture-modal {
    .modal-content {
      margin: 60% auto;
    }
  }
}
